@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Pen';
  src: url('nanumpenscript-regular.woff2') format('woff2'),
       url('nanumpenscript-regular.woff') format('woff'),
       url('nanumpenscript-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
