@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reenie Beanie';
  src: url('ReenieBeanie-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
