@charset "utf-8";

// If need, change your variables before importing Bulma
$desktop: 600px;
$tablet: 400px;
$widescreen: 1100px;
//$widescreen-enabled: true;
$fullhd-enabled: false;
$family-sans-serif: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$family-primary: "Vollkorn";
$family-secondary: "Vollkorn";
//$family-secondary: "Montserrat", "Arial", sans-serif;
//$navbar-height: 5rem;

@import "~bulma/bulma.sass";

body {
  padding-left: 5pt;
  padding-right: 5pt;
}

.border {
  border-color: $grey-lighter;
}

.mini-navbar {
  display: flex;
  justify-content: flex-end;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
}

.mini-navbar a {
  border: none;
}

.page {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.papertitle {
  @extend .is-size-6;
  @extend .has-text-weight-bold;
  @extend .is-family-secondary;
  line-height: 1.4rem;
  padding: 2px 0px 2px 0px;
}

.paperhighlight {
  font-weight: bolder;
  float: left;
  margin-right: 5pt;
}

a {
  color: $text;
  text-decoration: none;
  border-bottom: 1px solid $text;
}

// alignment of text and icons did not work without this
.icontext {
  line-height: 1.5rem;
  vertical-align: bottom;
}

.paperlink {
  max-width: 150px;
  float: left;
  margin-right: 5pt;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 399px) {
  .media-content {
    padding-top: 0;
  }
}

.highlighted {
  background: #eeeeee;
}

.papercomment {
  font-family: "Reenie Beanie";
  display: flex;
  align-items: center;
}
